<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welkom</title>
    <link rel="stylesheet" th:href="@{/css/security.css}">
</head>
<body>
<h1>Welkom</h1>
<div sec:authorize="isAuthenticated()">Enkel ingelogde gebruikers zien deze tekst</div>
<ul>
    <li sec:authorize-url="/offertes"><a th:href="@{/geluk}">Tweede</a></li>
</ul>
<form method="post" sec:authorize="isAuthenticated()" th:action="@{/logout}">
    <button><th:block sec:authentication="name"></th:block> Uitloggen</button>
</form>
<form method="get" sec:authorize="isAnonymous()" th:action="@{/login}">
    <button>Aanmelden</button>

    <h5>Gebruikers te proberen</h5>
    <ul>
        <li>gebruiker= mieke.devos@firma.be</li>
        <li>gebruiker=jan.demol@firma.be</li>
        <li>gebruiker= ann.depauw@firma.be</li>
        <li>wahctwoord="zorro"</li>
    </ul>
</form>
</body>
</html>